* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

section {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(126deg, transparent 50%, #e3e3e3 30%);
}

.squadNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;

}

ul.squadID {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
}


ul.squads {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    list-style: none;
    padding: 0.8rem 2rem;
}
ul.squads li {
    width: 100%;
}
ul.squads li a {
    display: flex;
    gap: 0.35rem;
    align-items: center;
    background: #c1c1c1;
    flex-direction: column;
    justify-content: space-between;
    min-width: 20vw;
    min-height: 30vw;
    border-radius: 15px;
    /* box-shadow: 0px 8px 10px 0px rgba(184,184,184,1); */
}